#carouselExampleSlidesOnly{
    position: fixed;
    z-index:-1;
    right:0;
    bottom:0;

}


.container{
    position: absolute;top:50%;
    left:50%;
    transform:translation(-50%,-50%);
    align-items: center;

}

.formlogin{
    height:310px;
    width:270px;
    
    border-radius:10px;
    display: flex;flex-direction:column;
    background:rgba(241, 234, 234, 0.1);
    align-items: center;
    box-shadow:0 0 10px rgba(206, 28, 28, 0.1);
    color:#fff;
    padding-top:60px;
    margin-left: ;


}

.login {
    letter-spacing: 1px;
    color:rgb(20, 20, 3);
    animation-name: color;
    animation-duration: 10s;
    
    width: 100px;
    border: 2px solid transparent;
    border-radius: 20px;
    text-shadow:0 0 4px orchid;
     
}



@keyframes color{
    0%   {background-color: white;color:whitesmoke}
    25%  {background-color: black;}
    50%  {background-color: gray;}
    100% {background-color: white;}
}

input{
    width:200px;
    margin-top:20px;
    background:transparent;
    outline:none;
    padding:10px;
    font-size:13px;
    border-radius:30px;
    box-shadow:0 0 4px #fff;
    transition:box-shadow 0.5s ease;

}

.btn{
    padding:5px 20px;
    margin-top:30px;
    background:transparent;
    border-radius:30px;
    box-shadow:0 0 4px;
    cursor:pointer;

}

input[placeholder]:focus{
    color:#fff;

}

input:focus , .btn:hover{
    box-shadow: 0 0 10px #fff;
}

input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input, textarea {
    background-color: #d1d1d1;
  }
  
  .forg{
    text-shadow:0 0 4px orchid;
    color: lightcyan;
    opacity: 0.5;
  }